[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
backoff = "~=1.6"
boto3 = "~=1.9"
django-annoying = "~=0.10"
django-markdown2 = "~=0.3"
et3 = "~=1.5"
feedgen = "~=0.9"
"kids.cache" = "==0.0.7"
newrelic = "*"
psycopg2 = "~=2.8"
python-dateutil = "~=2.7"
python-json-logger = "~=0.1"
python-slugify = "~=1.2"
pytz = "*"
requests = "~=2.20"
requests-cache = "==0.4.13"
rfc3339 = "==6.0"
Django = "==2.2.*"
uWSGI = "*"

[dev-packages]
pyflakes = "~=2.0"
pylint = "~=2.4"
pylint-django = "~=2.0"
# pylint-plugin-utils is a dependency for pylint-django, but 
# pylint-django hasn't bumped it yet to support changes in pylint 2.4
pylint-plugin-utils = "~=0.6"
green = "~=2.13"
coverage = "~=4.5"
autopep8 = "~=1.4"
