[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
backoff = "~=1.6"
boto3 = "~=1.9"
django-annoying = "~=0.10"
django-markdown2 = "~=0.3"
et3 = "~=1.5"
feedgen = "~=0.9"
"kids.cache" = "==0.0.7"
newrelic = "~=7.0"
# psycopg2 doesn't use semver.
# psycopg2 2.9.x isn't compatible with django 2.2:
# https://github.com/psycopg/psycopg2/issues/1293
psycopg2 = "==2.8.*"
python-dateutil = "~=2.7"
python-json-logger = "~=0.1"
python-slugify = "~=1.2"
pytz = "*"
requests = "~=2.20"
requests-cache = "==0.4.13"
rfc3339 = "==6.0"
Django = "==3.2.*"
uWSGI = "~=2.0"

[dev-packages]
pyflakes = "~=2.0"
pylint = "~=2.4"
pylint-django = "~=2.0"
pytest = "~=6.2"
pytest-cov = "*"
pytest-freezegun = "~=0.4"
pytest-django = "*"
coverage = "*"
autopep8 = "~=1.4"
