# file generated 2021-04-12 - see update-dependencies.sh
astroid==2.5.3
attrs==20.3.0
autopep8==1.5.6
backoff==1.10.0
boto3==1.17.49
botocore==1.20.49
certifi==2020.12.5
chardet==4.0.0
coverage==5.5
Django==2.2.20
django-annoying==0.10.6
django-markdown2==0.3.1
et3==1.5.1
feedgen==0.9.0
freezegun==1.1.0
idna==2.10
importlib-metadata==3.10.0
iniconfig==1.1.1
isort==5.8.0
jmespath==0.10.0
kids.cache==0.0.7
lazy-object-proxy==1.6.0
lxml==4.6.3
markdown2==2.4.0
mccabe==0.6.1
newrelic==6.2.0.156
packaging==20.9
pluggy==0.13.1
psycopg2==2.8.6
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
pylint==2.7.4
pylint-django==2.4.3
pylint-plugin-utils==0.6
pyparsing==2.4.7
pytest==6.2.3
pytest-cov==2.11.1
pytest-django==4.2.0
pytest-freezegun==0.4.2
python-dateutil==2.8.1
python-json-logger==0.1.11
python-slugify==1.2.6
pytz==2021.1
requests==2.25.1
requests-cache==0.4.13
rfc3339==6.0
s3transfer==0.3.6
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.7.4.3
Unidecode==1.2.0
urllib3==1.26.4
uWSGI==2.0.19.1
wrapt==1.12.1
zipp==3.4.1
